body {
  font-family: sans-serif;
	background-color:#2c3e50;
	color:#FFF;
	margin:0;
	display: flex;
	min-height: 100vh;
	overflow-x: hidden;
}
a {
	color:#FFF;
	text-decoration: none;
}
.underlined {
	text-decoration: underline;
}
h1{
	margin-top: 11px;
	border-bottom: 2px solid #FFF;
}

input,textarea{
	background-color: #34495e;
	color:#FFF;
	border:1px solid #2c3e50;
}
input[type="submit"]{
	height: 30px;
	min-width: 30px;
}
input[name="snipTitle"],input[name="snipTags"],textarea{
	width:90%;
}

#wrapper{
	flex:1;
}

#languagesSelector {
	display:inline-block;
	width: 14rem;
	margin-right: 10px;
}
#languagesSelector>ul {
    padding: 0 5px 0 5px;
	list-style: none;
	z-index: 2;
}
#languagesSelector li>a {
    background: #162c40;;
	display: inline-block;
	height: 40px;
    width: 100%;
    padding-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
}
#settingsButton{
	height: 50px;
	margin-bottom: 5px;
}
#settingsButton a{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

#loginForm{
	width: 400px;
	margin:auto;
}
#loginForm label{
	display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
}
#registerButton{
	margin-left:100px;
	width:145px;
}
#editor{
	width:90%;
	height:70vh;
}

.snipList li{
	list-style: none;
	margin-bottom: 10px;
	background-color: #162c40;
	padding: 10px;
	margin-right: 20px;
}
.tags{
	display: flex;
	align-items: center;
}
.tags img{
	margin-top:10px;
	margin-right: 5px;
}
.tags a{
	margin-right: 5px;
	font-size: small;
	color: #3577b3;
}
.addSnippet a{
	margin-bottom: 20px;
	text-decoration:none;
	border-bottom: 1px #FFF dashed;
	font-size:20px;
}
.bloc{
	display: inline-block;
	vertical-align: top;
	width:400px;
	margin:10px 0 20px 10px;
	padding:0 2px 5px 2px;
	border:2px solid #FFF;
	min-height: 300px;
}

.selected{
		box-shadow: inset -5px 0 0 0px #3D8EB9;
}
